.Logo {
  text-align: center;
  margin-top: 3em;
  transform: scale(1.3);
}

h1 {
  font-size: 65px;
}

.pictures {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  margin-top: 1.5em;
}

.one .test,
.two .test,
.three .test,
.four .test,
.five .test,
.six .test {
  border-radius: 20%;
  transition-duration: 0.3s;
}

.one .test:hover,
.two .test:hover,
.three .test:hover,
.four .test:hover,
.five .test:hover,
.six .test:hover {
  transform: scale(1.1);
  margin-top: -10px;
}

.five {
  grid-column-start: 2;
}

.six {
  grid-column-start: 3;
}

.buttonn {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.button {
  width: 150px;
}

.container {
  display: grid;
  grid-template-columns: 15% 65%;
}

#categories {
  position: sticky;
  top: 50px;
  margin-bottom: auto;
}
.container .shoes {
  display: grid;
  grid-template-columns: 65% 65%;
  grid-row-gap: 10px;
}
.shoeone,
.shoetwo,
.shoethree,
.shoefour,
.shoefive,
.shoesix,
.shoeseven,
.shoeeight,
.shoenine,
.shoeten,
.shoeeleven,
.shoetwelve {
  position: relative;
  text-align: center;
  color: black;
}

.nameprice {
  position: absolute;
  top: 0px;
  right: 16px;
}

.shoes .nameprice {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-size: 11.34px;
}
