p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

/*end of overall*/

.logo {
  text-align: center;
  margin-top: 3em;
  transform: scale(1.3);
}

.pictures {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  margin-top: 1.5em;
}

.one .test,
.two .test,
.three .test,
.four .test,
.five .test,
.six .test {
  border-radius: 20%;
  transition-duration: 0.3s;
}

.one .test:hover,
.two .test:hover,
.three .test:hover,
.four .test:hover,
.five .test:hover,
.six .test:hover {
  transform: scale(1.1);
  margin-top: -10px;
}

.five {
  grid-column-start: 2;
}

.six {
  grid-column-start: 3;
}

.buttonn {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.button {
  width: 150px;
  text-align: center;
  background-color: #404040;
  border-radius: 30%;
}

.button:hover {
  cursor: pointer;
}

.button p {
  color: rgb(255, 255, 255);
}

/*end of home page*/

.about p {
  letter-spacing: 0.01em;
  text-indent: 45px;
  margin-top: 23px;
}

/*end of about page*/

.container {
  display: grid;
  grid-template-columns: 15% 65%;
}

#categories {
  position: sticky;
  top: 50px;
  margin-bottom: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container .shoes {
  display: grid;
  grid-template-columns: 65% 65%;
  grid-row-gap: 20px;
}
.shoeone,
.shoetwo,
.shoethree,
.shoefour,
.shoefive,
.shoesix,
.shoeseven,
.shoeeight,
.shoenine,
.shoeten,
.shoeeleven,
.shoetwelve,
.shoethreeteen,
.shoefourteen {
  position: relative;
  text-align: center;
  color: black;
}

.nameprice {
  position: absolute;
  top: 0px;
  right: 70px;
}

.shoes .nameprice {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-size: 11.34px;
}

/*end of sneaker page */

* .wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
}

.swiper {
  width: 90%;
  height: fit-content;
  vertical-align: top;
  margin-top: -125px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: black;
}

.swiper .swiper-pagination-bullet-active {
  background: black;
}

.sizesandprices {
  margin-top: -210px;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 50% 50%;
  justify-items: center;
  align-items: center;
}

.sizesandprices h3 {
  text-align: center;
  cursor: pointer;
}

.sizesandprices p {
  text-align: center;
  cursor: pointer;
  font-size: small;
}

.ltcc,
.gtcc {
  cursor: pointer;
}

/*end of sneaker display page */
